# Imports

In [20]:
import pandas as pd
from sklearn import linear_model as lr
from sklearn import model_selection as ms
from sklearn import metrics as m
import numpy as np

# Loading Data

In [10]:
pf_row = pd.read_csv('Documents/kc_house_data.csv')

In [11]:
pf_row.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

# Data Prepration

In [12]:
# features
x = pf_row.drop(['price','date'],axis=1)

# response variable
y = pf_row['price'].copy()

In [18]:
x_train, x_test, y_train, y_test = ms.train_test_split(x,y, test_size=0.2, random_state=42)

In [14]:
# features
x_train = pf_row.drop(['price','date'],axis=1)

# response variable
y_train = pf_row['price'].copy()

In [15]:
x_train.head()

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [16]:
y_train.head()

0    221900.0
1    538000.0
2    180000.0
3    604000.0
4    510000.0
Name: price, dtype: float64

# Model Training

In [17]:
# model descripition

modelo = lr.LinearRegression()

#model training
modelo.fit(x_train,y_train)

LinearRegression()

In [19]:
# prediction - training

pred_train = modelo.predict(x_train)

# prediction - test

pred_test = modelo.predict(x_test)

# Performances Metrics

In [23]:
#training - mae -mape
mae_train = m.mean_absolute_error(y_train,pred_train)
mape_train = np.mean(np.abs(y_train - pred_train)/y_train)

#test
mae_test = m.mean_absolute_error(y_test,pred_test)
mape_test = np.mean(np.abs(y_test - pred_test)/y_test)

In [24]:
mae_train

125476.31051007053

In [25]:
mape_train

0.2570529620668044

In [26]:
data = {
'DataFrame':['training','test'],
'MAE':[mae_train,mae_test],
'MAPE':[mape_train,mape_test]}

pd.DataFrame(data)

  DataFrame            MAE      MAPE
0  training  125476.310510  0.257053
1      test  127702.272946  0.250814